body {
    margin:0;
}

#main {
    display: flex;;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    flex-direction: column;
    padding-top: 5%;
}

.todo-list{
    list-style-type: none;
    list-style: none;
}

.todo-list > li{
    list-style-type: none;
}

.task{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.todo-list > li{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
}

.delete, .done{
    margin-left: 10px;
    border-radius: 20px;
    border: 1px solid grey;
    height: 15px;
    width: 15px;
    font-size: 7px;
    padding:0;
}

.delete:hover, .done:hover{
    border: 1px solid black;
    color:grey;

}

.task > div, .task > button{
    padding-right: 10px;
}

#buttonContainer{
    margin-top: 10px;
}

#addButton{
    background-color: pink;
    border: 1px solid pink;
    border-radius: 40px;
    padding: 5px 20px;
}

.done-task{
    background-color: green;
}

h2{
    text-align: center;
    font-size: 1.25rem;
}